services:
  nuxt-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: eainvitation-app
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - APP_URL=${APP_URL:-http://localhost:3000}
      - DASHBOARD_APP_URL=${DASHBOARD_APP_URL:-http://localhost:3001}
      - THEME_URL=${THEME_URL:-http://localhost:3002}
      - API_BASE_URL=${API_BASE_URL:-http://127.0.0.1:8000/api}
      - STORAGE_BASE_URL=${STORAGE_BASE_URL:-http://127.0.0.1:8000/storage}
    restart: unless-stopped
    networks:
      - app-network
    # Uncomment jika ingin mount volume untuk development
    volumes:
      - .:/app
      - /app/node_modules

networks:
  app-network:
    driver: bridge