@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-light: #fafafa;
  --color-dark: #0f0f0f;
  --color-primary: #0887f8;

  --font-primary: "Urbanist", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "bootstrap-icons";
  font-display: swap;
}
